<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/Applications/Postgres.app/Contents/Versions/latest/bin</string>
	</dict>
	<key>Label</key>
	<string>com.aryan.funding-logger</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Frameworks/Python.framework/Versions/3.14/bin/python3</string>
		<string>/Users/aryanagarwal/Documents/polymarket/funding_logger.py</string>
		<string>once</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/funding-logger.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/funding-logger.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
	<key>WorkingDirectory</key>
	<string>/Users/aryanagarwal/Documents/polymarket</string>
</dict>
</plist>
